.mainContainer {
  background: linear-gradient(to bottom, #500037, #710046, #3f013a);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sectionTitle {
  background-color: #fff;
  width: 30vw;
  font-size: 35px;
  padding: 14px 0;
  margin-top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header {
  height: 100px;
}

.title {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.descriptionTitle {
  color: #fff;
  margin-left: 60px;
  font-size: 31px;
  width: 460px;
}

.mainSection {
  display: flex;
}

.card {
  background-color: #fff;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 31px;
  height: 350px;
  padding: 18px;
  width: 300px;
}

.cardTitle {
  color: #4d012e;
  font-weight: bold;
  font-size: 22px;
}

.cardDescription {
  font-size: 18.5px;
  margin-top: 0;
}

.cardsContainer {
  display: flex;
}

.cardRigth {
  margin-left: 120px;
}

.cardMiddle {
  margin-top: 180px;
}

.cardLeft {
  margin-left: 70px;
  margin-top: 100px;
}

.figure {
  position: absolute;
  right: 0;
  margin-top: 380px;
  height: 885px;
  width: 900px;
  overflow: hidden;
}

.lastP {
  color: #fff;
  text-align: end;
  position: sticky;
  font-size: 28px;
  margin-right: 80px;
  margin-top: 0px;
}

.footerContainer {
  position: sticky !important;
}

@media screen and (max-width: 1435px) {
  .cardRigth {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 1390px) {
  .cardRigth {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 1350px) {
  .mainSection {
    flex-direction: column;
  }
  .cardMiddle {
    margin: 0;
  }
  .cardsContainer {
    flex-direction: column;
    margin-left: 70px;
    margin-bottom: 20vh;
  }
  .cardRigth {
    margin-left: 0;
  }
  .figure {
    margin-top: 557px;
  }
  .cardLeft {
    margin-top: 0;
  }
  .sectionTitle {
    font-size: 30px;
  }
  .descriptionTitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 875px) {
  .sectionTitle {
    font-size: 22px;
  }
  .descriptionTitle {
    font-size: 18px;
    width: 285px;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .card {
    height: 300px;
    padding: 18px;
    width: 250px;
  }
  .cardTitle {
    color: #4d012e;
    font-weight: bold;
    font-size: 16px;
  }

  .cardDescription {
    font-size: 14.5px;
    margin-top: 0;
  }

  .lastP {
    font-size: 13px;
    margin-right: 29px;
  }

  .figure {
    margin-top: 632px;
    height: 619px;
    width: 410px;
  }
}

@media screen and (max-width: 765px) {
  .sectionTitle {
    font-size: 22px;
    width: 35vw;
    padding-left: 2.5vw;
  }
  .descriptionTitle {
    font-size: 18px;
    width: 285px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-right: 480px;
  }
  .mainSectionRight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTitle {
    margin-right: 500px;
  }
  .cardsContainer {
    align-items: center;
    margin-left: 0;
    margin-bottom: 8vh;
  }
  .cardRigth {
    margin-right: 0;
  }
  .cardLeft {
    margin-left: 0;
    margin-right: 0;
  }
  .figure {
    margin-top: 520px;
  }
}

@media screen and (max-width: 720px) {
  .sectionTitle {
    margin-right: 480px;
  }
  .descriptionTitle {
    margin-right: 460px;
  }
}

@media screen and (max-width: 700px) {
  .sectionTitle {
    margin-right: 460px;
  }
  .descriptionTitle {
    margin-right: 440px;
  }
}

@media screen and (max-width: 680px) {
  .sectionTitle {
    margin-right: 440px;
  }
  .descriptionTitle {
    margin-right: 420px;
  }
}

@media screen and (max-width: 660px) {
  .sectionTitle {
    margin-right: 420px;
  }
  .descriptionTitle {
    margin-right: 400px;
  }
}

@media screen and (max-width: 640px) {
  .sectionTitle {
    margin-right: 400px;
    font-size: 20px;
  }
  .descriptionTitle {
    margin-right: 380px;
    font-size: 17px;
  }
}

@media screen and (max-width: 620px) {
  .descriptionTitle {
    margin-right: 360px;
  }
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    margin-right: 380px;
  }
  .descriptionTitle {
    margin-right: 340px;
  }
}

@media screen and (max-width: 580px) {
  .sectionTitle {
    margin-right: 360px;
    width: 40vw;
  }
  .descriptionTitle {
    margin-right: 320px;
  }
}

@media screen and (max-width: 560px) {
  .sectionTitle {
    margin-right: 340px;
  }
  .descriptionTitle {
    margin-right: 300px;
  }
}

@media screen and (max-width: 540px) {
  .sectionTitle {
    margin-right: 320px;
  }
  .descriptionTitle {
    margin-right: 280px;
  }
}

@media screen and (max-width: 520px) {
  .sectionTitle {
    margin-right: 295px;
    width: 45vw;
  }
  .descriptionTitle {
    margin-right: 260px;
  }
}

@media screen and (max-width: 500px) {
  .sectionTitle {
    margin-right: 280px;
  }
  .descriptionTitle {
    margin-right: 240px;
  }
}

@media screen and (max-width: 480px) {
  .sectionTitle {
    margin-right: 260px;
  }
  .descriptionTitle {
    margin-right: 220px;
  }
}

@media screen and (max-width: 460px) {
  .sectionTitle {
    margin-right: 240px;
    width: 50vw;
  }
  .descriptionTitle {
    margin-right: 200px;
  }
}

@media screen and (max-width: 440px) {
  .sectionTitle {
    margin-right: 220px;
    width: 51vw;
  }
  .descriptionTitle {
    margin-right: 180px;
  }
}

@media screen and (max-width: 420px) {
  .sectionTitle {
    margin-right: 200px;
    width: 52vw;
  }
  .descriptionTitle {
    margin-right: 160px;
  }
}

@media screen and (max-width: 400px) {
  .sectionTitle {
    margin-right: 180px;
    width: 53vw;
  }
  .descriptionTitle {
    margin-right: 140px;
  }
}

@media screen and (max-width: 380px) {
  .sectionTitle {
    margin-right: 160px;
    width: 56vw;
  }
  .descriptionTitle {
    margin-right: 120px;
  }
}

@media screen and (max-width: 380px) {
  .sectionTitle {
    margin-right: 140px;
    width: 59vw;
  }
  .descriptionTitle {
    margin-right: 100px;
  }
}
